@{ Layout = "~/views/shared/_LayoutUser.cshtml";
}
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style=" background-image: url('../../content/images/course-3.jpg');">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">About Us</h1>
                                <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-about">
    <div class="container">
        <div class="col-md-6 animate-box">

            <h2>Welcome to DigitalUpskills</h2>
            <p> Main purpose of the DigitalUpskills is to spread education and also provide the facility of learning and skills. The foremost motive is to provide the quality education at your doorstep.</p>
            <p> First priority of DigitalUpskills is to provide a quality education to students, and creating job opportunities. Provide a platform where student can get various courses of their choice.</p>
            <p> The main purpose is to upgrade student’s skills. DigitalUpskills can be applied in two major ways: presenting education content, and facilitating education processes. The E-learning technologies aim to enhance the target of learning outcome in the Education thorough the effective uses of the e-learning technology tools and empower the innovative learning. In the current era E-learning in the computer science playing an effective role to develop the students technical, design and development skills.This modality allows people to receive their lessons virtually, following online training in which each student has access to digital content for their study.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/Images/about.jpg" />
        </div>
    </div>
</div>


