
@{
    Layout = "~/views/shared/_LayoutUser.cshtml";
}
@Html.Raw(ViewBag.msg)
<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block text-center">
                    <a class="logo" href="index.html">
                        <img src="images/logo.png" alt="">
                    </a>
                    <a href="~/Views/Home/LoginInstructor.cshtml">~/Views/Home/LoginInstructor.cshtml</a>
                    <h2 class="text-center">Welcome Back</h2>
                    <form action="/Home/LoginInstructor" method="post" class="text-left clearfix">
                        <div class="form-group">
                            <input type="email" name="Instructor_Gmail" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="Instructor_Password" class="form-control" placeholder="Password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary text-center ">Login</button>
                        </div>
                    </form>
                    <p class="mt-20" btn btn-primary>New in this site ?<button> <a href="@Url.Action("SignupInstructor","Home")"> Create New Account </a></button></p>
                    <p class="mt-20">Forgot Password?<button> <a href="@Url.Action("ForgotPassword","Home")"> Reset Password </a></button></p>
                </div>
            </div>
        </div>
    </div>
</section>
