@{
    Layout = "~/views/shared/_LayoutUser.cshtml";
}
@Html.Raw(ViewBag.msg)
<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block text-center">
                    <a class="logo" href="index.html">
                        <img src="images/logo.png" alt="">
                    </a>
                    <h2 class="text-center">Create New Account</h2>
                    <form action="/Home/LoginInstructor" method="post" class="text-left clearfix">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Instructor_Name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Instructor_PhoneNo" placeholder="PhoneNo">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Instructor_Address" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="Instructor_Gmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="Instructor_Password" placeholder="Password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary text-center">Sign In</button>
                        </div>
                    </form>
                    <p class="mt-20">Already hava an account ?<button><a  href= "@Url.Action("LoginInstructor","Home") ">Back to login</a></button></p>

                </div>
            </div>
        </div>
    </div>
</section>

